payment-service-shared/src/main/resources/wsdl/listingService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright 2011 FuseSource
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->

<wsdl:definitions name="wsdl-first"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xmlns:tns="http://examples.fusesource.com/listing-service"
                  xmlns:typens="http://examples.fusesource.com/listing-service/types"
                  targetNamespace="http://examples.fusesource.com/listing-service">

    <wsdl:types>
        <xsd:schema targetNamespace="http://examples.fusesource.com/listing-service/types"
                    elementFormDefault="qualified">
            <xsd:element name="listingRequest">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="listingResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="banks">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="bank" type="xsd:string"
                                                 maxOccurs="unbounded"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="ListingRequest">
        <wsdl:part name="payload" element="typens:listingRequest"/>
    </wsdl:message>

    <wsdl:message name="ListingResponse">
        <wsdl:part name="response" element="typens:listingResponse"/>
    </wsdl:message>

    <wsdl:portType name="Listing">
        <wsdl:operation name="discoverListings">
            <wsdl:input message="tns:ListingRequest"/>
            <wsdl:output message="tns:ListingResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ListingSOAPBinding" type="tns:Listing">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="discoverListings">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ListingService">
        <wsdl:port binding="tns:ListingSOAPBinding" name="ListingPort">
            <soap:address location="http://localhost:9090/listingService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
